header {
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  background-color: rgb(206, 201, 201);
  display: flex;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
}
nav {
  width: 100%;
}

/*creating flexbox for main*/
main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:steelblue;
}

/*creating flexbox for all sections*/
section {
  display: flex;
  width: 100%;
}

.container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  padding: 20px;
  float: right;
  display: flex;
  flex-wrap: wrap;
}

.container a {
  font-style: normal;
}
header nav ul {
  list-style-type: none;
  font-style: normal;
}

header nav ul li {
  margin-left: 25px;
  float: left;
}

.pagename {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
  color: rgb(194, 33, 153);
}

/* Ensuring section heading take 25% of width*/
.sectionheading {
  margin-bottom: 20px;
  padding-top: 35px;
  margin-right: 20px;
  padding-right: 20px;
  width: 25%;
  flex-wrap: wrap;
  border-right: solid lightblue;
  text-align: right;
  color: slategrey;
}

/*ensuring content of section occupy 75% of width*/
.sectioncontent {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  padding-top: 35px;
  margin-right: 20px;
  padding-right: 20px;
  width: 75%;
  text-align: center;
}

/*removing bullets from list*/
.contact {
  list-style-type: none;
}

/*setting color for a tags so that they can have same color as other contacts*/
a {
  color: steelblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*setting max width of images so they don't overflow as well giving them round corners*/
.img1,
.img2,
.img3 {
  max-width: 50%;
  border: 2px solid darkgrey;
  border-radius: 8px;
  opacity: 1;
}

/*hover over the image capability*/
.img1:hover {
  opacity: 0.5;
}

.img2:hover {
  opacity: 0.3;
}
.img3:hover {
  opacity: 0.3;
}

.contact {
  color: lightslategray;
  display: inline-block;
}

/*creating responsive display ensuring sections become columns, the border of section heading disappears */

@media screen and (max-width: 925px) {
  section {
    flex-direction: column;
    text-align: center;
  }

  .sectionheading {
    width: 100%;
    border-right: none;
    text-align: center;
  }

  .sectioncontent {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 760px) {
  /*ensuring elements from container become column*/

  .container {
    flex-direction: column;
  }
}
